<footer class="bg-gray-800 text-white py-8 w-full">
  <style>
    .footer-link {
      transition: color 0.3s;
    }

    .footer-link:hover {
      color: var(--header-color);
    }

    /* Override the general hover styles for footer links */
    footer ul li:hover {
      background-color: transparent;
      color: inherit;
    }
  </style>
  <div class="px-10">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <div>
        <h4 class="text-lg font-bold mb-4">About</h4>
        <p class="text-base font-light">
          Welcome to the unofficial Redneck Soda Menu website. This
          independently maintained resource provides easy access to the menu of
          sodas and specialty drinks offered by Redneck Soda in Rexburg, Idaho.
          The information presented here is for reference purposes only. As
          prices may vary, please visit any Redneck Soda location for current
          pricing information.
        </p>
      </div>
      <div>
        <h4 class="text-lg font-bold mb-4">Quick Links</h4>
        <ul class="space-y-2">
          <li>
            <a href="index.html" class="footer-link">Home</a>
          </li>
          <li>
            <a href="disclaimer.html" class="footer-link">Disclaimer</a>
          </li>
          <li>
            <a
              href="https://github.com/Atreyu4EVR/unofficial-Redneck-Soda-Menu/discussions/categories/community"
              class="footer-link"
              >Community</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h4 class="text-lg font-bold mb-4">Contact</h4>
        <ul class="space-y-2">
          <li>
            <p>
              Have questions or suggestions? We welcome your feedback on our
              GitHub community page. Join the discussion to help improve this
              resource.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-8">
      <p>© 2025 Unofficial Redneck Soda Menu. All rights reserved.</p>
    </div>
  </div>
</footer>
